node_modules/
.expo/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
.env*
!.env.example
ios/Pods/
android/.gradle/
android/build/
android/app/build/
*.tsbuildinfo
expo-env.d.ts
